<template>
    <div> 
      <div class="render" v-html="svgFile"></div>
    </div>
</template>

<script>

// import image 
import Image1 from '@/assets/About/view1.jpg'
//load json
// import svgJson from '@/assets/FileJson/SM006_pwa_samphon_and_omnoi.json'

import io from "socket.io-client";

// var socket = io.connect('http://localhost/4000');

import get_svg from '@/serviceAPIS/get_svg_station'

//moment
var moment = require("moment");

import app from '@/app/render'

export default {
  name: 'renderSvg',
  data () {
      return {
        imageName : Image1,
        about_name : this.$route.params.name,
        svgFile: '',
        svgOjbType: {
          svgExtValue: "svg-ext-value",
          svgExtHtmlButton: "svg-ext-html_button",
          svgExtHtmlSelect: "svg-ext-html_select",
          svgExtHtmlChart: "svg-ext-html_chart",
          svgExtGaugeSemaphore: "svg-ext-gauge_semaphore"
        },
        wsData: {},
        station_name: this.$route.params.station_name,
        device_name: this.$route.params.device_name
      }
  },
  methods: {
    async onload (){
      const response = await get_svg.svg();
      var obj = response.data
      this.$store.state.svg_data = response.data;
      // console.log(obj)
      this.svgFile = app.content_svg_by_station(obj, this.station_name)
      var items = (app.item_by_station(obj, this.station_name))
      console.log(items)
      for (const [key, value] of Object.entries(items)) {
        console.log(value)
      }
    },
    addConnect() {
      // req data from server.

      // setInterval( () => {
      //   socket.emit('sensor_value', this.station_name)
      // }, this.$store.state.time_interval);

      setInterval( async () => {
        const response = await get_svg.svg();
        this.$store.state.svg_data = response.data;
        // console.log("GET DATA")
        // console.log(response.data)
        // console.log(this.station_name)
        this.svgFile = app.content_svg_by_station(response.data, this.station_name)
      }, this.$store.state.time_interval);

      // res data from server
      this.socket = new WebSocket("ws://iotdma.info:1880/sensor");
      this.socket.onmessage = ({data}) => {
        var data = JSON.parse(data);
        console.log(data)
        app.map(data, this.$store.state.svgOjbType, this.$store.state.svg_data)
      };
    //   socket.on('sensor', (payload) => {     
    //     app.map(payload, this.$store.state.svgOjbType, this.$store.state.svg_data)
    //   })

      // this.socket = new WebSocket("ws://localhost:4000/sensor_value");
      // this.socket.onmessage = ({data}) => {
      //   var data = JSON.parse(data);
      //   console.log(data);
      //   this.wsData = data;

      //   // first loop
      //   for (const [key, value] of Object.entries(svgJson.hmi.views[0].items)) {
      //     // second loop
      //     data.data.forEach(element => { 

      //       //check value
      //       if (value.type == this.svgOjbType.svgExtValue && value.name === element.tag){
      //         if (element.tag === "date"){
      //           // console.log(element.value)
      //           document.getElementById(value.id).children[0].textContent = moment(element.value).format('MMMM DD YYYY, HH:mm:ss');
      //         }else{
      //           document.getElementById(value.id).children[0].textContent = element.value;
      //         }
      //       }

      //       // check object chage color
      //       if (value.type == this.svgOjbType.svgExtGaugeSemaphore && value.name === element.tag){
      //         value.property.ranges.forEach(function (inArr, i){
      //           var value_ = parseFloat(element.value);
      //           var min = parseFloat(inArr.min);
      //           var max = parseFloat(inArr.max);
      //           if (i == 0){
      //             if (value_ >= min && value_ <= max){
      //               document.getElementById(value.id).children[0].setAttribute("fill",value.property.ranges[i].color);
      //             }
      //           }else{
      //             if (value_ > min && value_ <= max){
      //               document.getElementById(value.id).children[0].setAttribute("fill",value.property.ranges[i].color);
      //             }
      //           }
      //         })
      //       }

      //     }); 
      //   }
      // };
    },
    disconnect() {
      this.socket.close();
      this.status = "disconnected";
      this.logs = [];
    },
    sendMessage(e) {
      this.socket.send(this.message);
      this.logs.push({ event: "Sent message", data: this.message });
      this.message = "";
    },
  },


  mounted(){
    this.onload();
    this.addConnect();
  }
}
</script>

<style>
  .render {
    display: inline;
  }
  /* .main-renderSvg {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .img-show{
    height: 300px;
    width: 350px;
  } */
</style>
