<template>
    <div> 
      <div class="render" v-html="svgFile"></div>
    </div>
</template>

<script>
import Image1 from '@/assets/About/view1.jpg'

import io from "socket.io-client";

import get_svg from '@/serviceAPIS/get_svg_station'

//moment
var moment = require("moment");

import app from '@/app/render'

export default {
  name: 'renderSvg',
  data () {
      return {
        imageName : Image1,
        about_name : this.$route.params.name,
        svgFile: '',
        svgOjbType: {
          svgExtValue: "svg-ext-value",
          svgExtHtmlButton: "svg-ext-html_button",
          svgExtHtmlSelect: "svg-ext-html_select",
          svgExtHtmlChart: "svg-ext-html_chart",
          svgExtGaugeSemaphore: "svg-ext-gauge_semaphore"
        },
        wsData: {},
        station_name: this.$route.params.station_name,
        device_name: this.$route.params.device_name
      }
  },
  methods: {
    async onload (){
      const response = await get_svg.svg();
      var obj = response.data
      this.$store.state.svg_data = response.data;
      this.svgFile = app.content_svg_by_station(obj, this.station_name)
      var items = (app.item_by_station(obj, this.station_name))
      // console.log(items)
      for (const [key, value] of Object.entries(items)) {
        // console.log(value)
      }
    },
    addConnect() {
      var socket = io.connect('ws://dwdev.info:14000/', {
      // var socket = io.connect('wss://nrwiot.pwa.co.th/', {
        path: '/socket.io',
        transports: ['websocket'],
        secure: true
      });
      // var socket = io.connect('https://nrwiot.pwa.co.th', {
      //   transports: ['websocket'],
      //   secure: true
      // });
      setInterval( () => {
        socket.emit('sensor_value', this.station_name)
      }, this.$store.state.time_interval);

      setInterval( async () => {
        const response = await get_svg.svg();
        this.$store.state.svg_data = response.data;
        this.svgFile = app.content_svg_by_station(response.data, this.station_name)
      }, this.$store.state.time_interval);
      socket.on('sensor', (payload) => {     
        console.log(payload)
        app.map(payload, this.$store.state.svgOjbType, this.$store.state.svg_data, this.station_name)
      })
    },
  },


  mounted(){
    this.onload();
    this.addConnect();
  }
}
</script>

<style>
  .render {
    display: inline;
  }
</style>
